# Intermediate Pandas for Python Library

This is a task-based intermediate level notebook which should take approximately 1 hour to finish.

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import csv

## Load Data

In [8]:
df = pd.read_csv("Chicago_Crime_Data-v2.csv")
df.head(5)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

## Task 1 : Split Data

Split data set in three: Training Set, Validation Set and Test Set.

In [9]:
df_new = df.copy()
df1 = df_new.sample(frac=0.25, random_state=1)
df_new = df_new.drop(df1.index)

df2 = df_new.sample(frac=0.25, random_state=1)
df_new = df_new.drop(df2.index)

df3 = df_new.sample(frac=0.25, random_state=1)
df4 = df_new.drop(df3.index)

## Task 2 : Handle Missing Values

### Detect Missing Values

In [23]:
print(df1.isnull().sum())

ID                       0
CASE_NUMBER              0
DATE                     0
BLOCK                    0
IUCR                     0
PRIMARY_TYPE             0
DESCRIPTION              0
LOCATION_DESCRIPTION     0
ARREST                   0
DOMESTIC                 0
BEAT                     0
DISTRICT                 0
WARD                     8
COMMUNITY_AREA_NUMBER    8
FBICODE                  0
X_COORDINATE             1
Y_COORDINATE             1
YEAR                     0
UPDATEDON                0
LATITUDE                 1
LONGITUDE                1
LOCATION                 1
dtype: int64

### Mean Imputation of Missing Values

In [24]:
df1["WARD"].mean()

23.336

In [25]:
df1.isnull()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
110,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
244,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
334,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
439,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
480,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
274,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
168,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [26]:
df1["WARD"].fillna(df1["WARD"].mean(), inplace = True)

In [28]:
print(df1.isnull().sum())

ID                       0
CASE_NUMBER              0
DATE                     0
BLOCK                    0
IUCR                     0
PRIMARY_TYPE             0
DESCRIPTION              0
LOCATION_DESCRIPTION     0
ARREST                   0
DOMESTIC                 0
BEAT                     0
DISTRICT                 0
WARD                     0
COMMUNITY_AREA_NUMBER    8
FBICODE                  0
X_COORDINATE             1
Y_COORDINATE             1
YEAR                     0
UPDATEDON                0
LATITUDE                 1
LONGITUDE                1
LOCATION                 1
dtype: int64

### Interpolate Missing Values

In [29]:
df1["LATITUDE"].fillna(df1["LATITUDE"].interpolate(), inplace = True)

In [30]:
print(df1.isnull().sum())

ID                       0
CASE_NUMBER              0
DATE                     0
BLOCK                    0
IUCR                     0
PRIMARY_TYPE             0
DESCRIPTION              0
LOCATION_DESCRIPTION     0
ARREST                   0
DOMESTIC                 0
BEAT                     0
DISTRICT                 0
WARD                     0
COMMUNITY_AREA_NUMBER    8
FBICODE                  0
X_COORDINATE             1
Y_COORDINATE             1
YEAR                     0
UPDATEDON                0
LATITUDE                 0
LONGITUDE                1
LOCATION                 1
dtype: int64

## Task 3 : Sorting by Columns and Ranges

### Sort Values by a Single Column

In [38]:
df1.sort_values(by = ["YEAR"], ascending = True)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
172,1363954,G070193,02/03/2001 03:00:00 AM,004XX W WRIGHTWOOD AV,460,BATTERY,SIMPLE,RESIDENCE,False,False,...,23.336,NaN,08B,1172852.0,1918278.0,2001,08/17/2015 03:03:40 PM,41.931190,-87.640214,"(41.93119046, -87.640214004)"
58,1340847,G040244,01/19/2001 06:39:03 PM,063XX N NAGLE AV,820,THEFT,$500 AND UNDER,GROCERY FOOD STORE,True,False,...,23.336,NaN,6,1132586.0,1941599.0,2001,08/17/2015 03:03:40 PM,41.995984,-87.787640,"(41.99598354, -87.787639887)"
135,1850651,G688026,11/15/2001 04:00:00 PM,069XX S STEWART AV,430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,SIDEWALK,False,False,...,23.336,NaN,04B,1174777.0,1859152.0,2001,08/17/2015 03:03:40 PM,41.768901,-87.634907,"(41.768901335, -87.634907215)"
485,1553689,G302291,05/25/2001 04:34:24 PM,026XX W MADISON ST,1506,PROSTITUTION,SOLICIT ON PUBLIC WAY,STREET,True,False,...,23.336,NaN,16,1158862.0,1899877.0,2001,08/17/2015 03:03:40 PM,41.880995,-87.692130,"(41.880995464, -87.692129998)"
40,1845995,G662598,11/03/2001 02:26:55 PM,0000X N STATE ST,820,THEFT,$500 AND UNDER,DEPARTMENT STORE,True,False,...,23.336,NaN,6,1176398.0,1900691.0,2001,08/17/2015 03:03:40 PM,41.882852,-87.627715,"(41.882851552, -87.627714909)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,10831592,JA133264,01/28/2017 02:52:00 PM,009XX N MASSASOIT AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,29.000,25.0,3,1137854.0,1905671.0,2017,02/14/2017 03:49:42 PM,41.897300,-87.769131,"(41.897299743, -87.769131006)"
519,23469,JA359626,07/23/2017 09:25:00 AM,015XX E 82ND ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,8.000,45.0,01A,1188090.0,1850923.0,2017,07/30/2017 03:51:44 PM,41.746013,-87.586371,"(41.746013191, -87.58637073)"
439,11057640,JA394755,08/15/2017 12:29:00 PM,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,32.000,24.0,11,1161955.0,1908307.0,2017,02/10/2018 03:50:01 PM,41.904064,-87.680537,"(41.904064096, -87.680537205)"
34,10952376,JA272438,05/20/2017 08:30:00 PM,028XX W 21ST ST,820,THEFT,$500 AND UNDER,SIDEWALK,False,False,...,12.000,30.0,6,1157493.0,1889929.0,2017,02/10/2018 03:50:01 PM,41.853725,-87.697427,"(41.853725089, -87.697427476)"
372,11111810,JA462321,10/07/2017 04:00:00 PM,064XX S MORGAN ST,520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,APARTMENT,True,True,...,16.000,68.0,04A,1170753.0,1862070.0,2017,02/10/2018 03:50:01 PM,41.776997,-87.649572,"(41.776997403, -87.649572168)"

### Sort Values by Row Labels

In [39]:
df1.sort_index(axis = 0, ascending = True)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"
5,7732712,HS540106,09/29/2010 07:59:00 AM,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),False,False,...,27.0,24.0,6,1171668.0,1905607.0,2010,02/10/2018 03:50:01 PM,41.896447,-87.644939,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,11/30/2016 01:15:00 AM,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,False,False,...,33.0,14.0,6,1154133.0,1933314.0,2016,02/10/2018 03:50:01 PM,41.972845,-87.708600,"(41.972844913, -87.708600079)"
11,7947964,HT180228,02/26/2011 04:00:00 PM,012XX S HALSTED ST,820,THEFT,$500 AND UNDER,BAR OR TAVERN,False,False,...,25.0,28.0,6,1171230.0,1894421.0,2011,02/10/2018 03:50:01 PM,41.865761,-87.646876,"(41.865761261, -87.646875977)"
17,9681782,HX332132,07/04/2014 09:45:00 PM,079XX S STATE ST,820,THEFT,$500 AND UNDER,CTA PLATFORM,False,False,...,6.0,44.0,6,1177660.0,1852569.0,2014,02/10/2018 03:50:01 PM,41.750772,-87.624538,"(41.750772111, -87.624538423)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,23469,JA359626,07/23/2017 09:25:00 AM,015XX E 82ND ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,8.0,45.0,01A,1188090.0,1850923.0,2017,07/30/2017 03:51:44 PM,41.746013,-87.586371,"(41.746013191, -87.58637073)"
521,5738893,HN544458,08/22/2007 05:56:10 PM,016XX E 87TH ST,3960,INTIMIDATION,INTIMIDATION,SMALL RETAIL STORE,False,False,...,8.0,45.0,26,1188659.0,1847618.0,2007,02/28/2018 03:56:25 PM,41.736930,-87.584391,"(41.736930377, -87.584391221)"
522,9094512,HW238778,04/15/2013 06:52:00 PM,038XX N SPAULDING AVE,583,STALKING,CYBERSTALKING,RESIDENCE,False,True,...,33.0,16.0,08A,1153706.0,1925344.0,2013,02/10/2018 03:50:01 PM,41.950983,-87.710383,"(41.950983256, -87.71038332)"
527,9608166,HX258445,05/12/2014 10:50:00 AM,010XX N WELLS ST,1900,OTHER NARCOTIC VIOLATION,INTOXICATING COMPOUNDS,SIDEWALK,True,False,...,27.0,8.0,18,1174535.0,1907194.0,2014,02/10/2018 03:50:01 PM,41.900738,-87.634361,"(41.900737976, -87.634361322)"
528,10453948,HZ192829,03/01/2016 12:00:00 AM,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,7.0,46.0,26,1196679.0,1853139.0,2016,02/10/2018 03:50:01 PM,41.751885,-87.554826,"(41.751885152, -87.554825997)"

## Task 4 : Selecting and Slicing Data

### Selecting Columns by Their Names

In [41]:
df1[["YEAR", "PRIMARY_TYPE"]]

     YEAR        PRIMARY_TYPE
110  2011             BATTERY
244  2008     CRIMINAL DAMAGE
334  2002       OTHER OFFENSE
439  2017  DECEPTIVE PRACTICE
233  2003     CRIMINAL DAMAGE
..    ...                 ...
58   2001               THEFT
480  2003   CRIMINAL TRESPASS
274  2007           NARCOTICS
179  2015             BATTERY
168  2002             BATTERY

[133 rows x 2 columns]

### Select Columns by Index

In [43]:
df1[df1.columns[1:5]].head()

    CASE_NUMBER                    DATE                   BLOCK  IUCR
110    HT651635  12/29/2011 12:50:00 PM    056XX W ROOSEVELT RD   486
244    HP689703  11/18/2008 03:15:00 PM   081XX S LAFAYETTE AVE  1310
334    HH692211  10/04/2002 12:00:00 PM     007XX S KENNETH AVE  5002
439    JA394755  08/15/2017 12:29:00 PM      021XX W CRYSTAL ST  1150
233    HJ527694  07/29/2003 09:25:00 PM  042XX N SACRAMENTO AVE  1310

### Slicing

In [45]:
df.iloc[:3]

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"

In [47]:
df.loc[:3]

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"

## Task 5 : Joining, Concatenation and Advanced Joins

### Joining

Join function operates only on the columns.

In [31]:
df5 = df1.join(df2, lsuffix = "_left")
df5

,ID_left,CASE_NUMBER_left,DATE_left,BLOCK_left,IUCR_left,PRIMARY_TYPE_left,DESCRIPTION_left,LOCATION_DESCRIPTION_left,ARREST_left,DOMESTIC_left,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
110,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,6620347,HP689703,11/18/2008 03:15:00 PM,081XX S LAFAYETTE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,2415583,HH692211,10/04/2002 12:00:00 PM,007XX S KENNETH AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,11057640,JA394755,08/15/2017 12:29:00 PM,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,2862972,HJ527694,07/29/2003 09:25:00 PM,042XX N SACRAMENTO AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,1340847,G040244,01/19/2001 06:39:03 PM,063XX N NAGLE AV,820,THEFT,$500 AND UNDER,GROCERY FOOD STORE,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,3081572,HJ804627,12/07/2003 10:16:40 PM,002XX W ADAMS ST,1330,CRIMINAL TRESPASS,TO LAND,BANK,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,5547866,HN355411,05/21/2007 09:49:42 AM,004XX N PINE AVE,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,10003235,HY192694,03/21/2015 03:41:00 AM,064XX S OAKLEY AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,2584554,HH867007,12/30/2002 08:41:00 AM,040XX W IRVING PARK RD,499,BATTERY,AGGRAVATED DOMESTIC BATTERY,RESIDENCE,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Concatenation

Concat functions operates on either rows or columns.

In [32]:
df6 = pd.concat([df1, df2], axis = 0)
df6

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
110,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,29.0,25.0,08B,1139135.0,1894124.0,2011,02/04/2016 06:33:39 AM,41.865590,-87.764707,"(41.865590065, -87.764706995)"
244,6620347,HP689703,11/18/2008 03:15:00 PM,081XX S LAFAYETTE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,21.0,44.0,14,1177357.0,1850979.0,2008,02/10/2018 03:50:01 PM,41.746416,-87.625697,"(41.746415805, -87.625696672)"
334,2415583,HH692211,10/04/2002 12:00:00 PM,007XX S KENNETH AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,...,24.0,26.0,26,1146814.0,1896113.0,2002,02/28/2018 03:56:25 PM,41.870905,-87.736466,"(41.87090509, -87.736465901)"
439,11057640,JA394755,08/15/2017 12:29:00 PM,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,32.0,24.0,11,1161955.0,1908307.0,2017,02/10/2018 03:50:01 PM,41.904064,-87.680537,"(41.904064096, -87.680537205)"
233,2862972,HJ527694,07/29/2003 09:25:00 PM,042XX N SACRAMENTO AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,33.0,16.0,14,1155622.0,1928028.0,2003,02/10/2018 03:50:01 PM,41.958310,-87.703268,"(41.958309892, -87.703267639)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,8321464,HT556032,10/23/2011 11:20:00 AM,029XX E 78TH ST,610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,7.0,43.0,5,1197014.0,1853942.0,2011,02/10/2018 03:50:01 PM,41.754080,-87.553572,"(41.754080317, -87.553571733)"
366,3661130,HK751265,11/15/2004 12:59:16 AM,084XX S ELIZABETH ST,530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,STREET,False,False,...,21.0,71.0,04A,1169464.0,1848751.0,2004,02/10/2018 03:50:01 PM,41.740476,-87.654683,"(41.740476349, -87.654682797)"
385,1959865,HH149573,01/26/2002 11:57:10 AM,016XX W 79 ST,610,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,...,NaN,NaN,5,1166792.0,1852325.0,2002,02/10/2018 03:50:01 PM,41.750341,-87.664371,"(41.750341323, -87.664370937)"
342,5322667,HN182437,02/17/2007 10:15:00 PM,091XX S COTTAGE GROVE AVE,560,ASSAULT,SIMPLE,SIDEWALK,False,True,...,8.0,44.0,08A,1183165.0,1844391.0,2007,02/28/2018 03:56:25 PM,41.728205,-87.604619,"(41.728204555, -87.604619408)"
219,9801245,HX448587,09/28/2014 11:00:00 PM,113XX S COTTAGE GROVE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,9.0,50.0,14,1181588.0,1829877.0,2014,02/10/2018 03:50:01 PM,41.688413,-87.610842,"(41.688412751, -87.610842301)"

### Advanced Joins - Inner Join

In [34]:
df7 = pd.merge(df1, df2, on = "DESCRIPTION")
df7

,ID_x,CASE_NUMBER_x,DATE_x,BLOCK_x,IUCR_x,PRIMARY_TYPE_x,DESCRIPTION,LOCATION_DESCRIPTION_x,ARREST_x,DOMESTIC_x,...,WARD_y,COMMUNITY_AREA_NUMBER_y,FBICODE_y,X_COORDINATE_y,Y_COORDINATE_y,YEAR_y,UPDATEDON_y,LATITUDE_y,LONGITUDE_y,LOCATION_y
0,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,4.0,39.0,08B,1183133.0,1873130.0,2016,02/10/2018 03:50:01 PM,41.807068,-87.603844,"(41.807067906, -87.603843747)"
1,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,28.0,25.0,08B,1142023.0,1899535.0,2002,02/28/2018 03:56:25 PM,41.880386,-87.753971,"(41.880385563, -87.753970777)"
2,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,4.0,39.0,08B,1182938.0,1875792.0,2003,02/28/2018 03:56:25 PM,41.814377,-87.604476,"(41.814377178, -87.604476134)"
3,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,25.0,31.0,08B,1163120.0,1891403.0,2005,02/28/2018 03:56:25 PM,41.857654,-87.676733,"(41.85765368, -87.676732923)"
4,10179921,HY368284,08/04/2015 04:20:00 AM,024XX S TROY ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,4.0,39.0,08B,1183133.0,1873130.0,2016,02/10/2018 03:50:01 PM,41.807068,-87.603844,"(41.807067906, -87.603843747)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,10653179,HZ403432,08/23/2016 01:48:00 AM,008XX E 65TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,APARTMENT,True,True,...,28.0,30.0,04B,1158737.0,1888170.0,2007,02/28/2018 03:56:25 PM,41.848873,-87.692910,"(41.848872832, -87.692909673)"
516,10831592,JA133264,01/28/2017 02:52:00 PM,009XX N MASSASOIT AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,21.0,71.0,3,1170122.0,1848931.0,2003,02/10/2018 03:50:01 PM,41.740956,-87.652267,"(41.74095603, -87.652266736)"
517,10831592,JA133264,01/28/2017 02:52:00 PM,009XX N MASSASOIT AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,2.0,28.0,3,1161099.0,1899441.0,2017,05/04/2018 03:51:04 PM,41.879753,-87.683928,"(41.879752884, -87.683927994)"
518,10831592,JA133264,01/28/2017 02:52:00 PM,009XX N MASSASOIT AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,24.0,29.0,3,1152475.0,1894470.0,2017,02/10/2018 03:50:01 PM,41.866287,-87.715726,"(41.866286618, -87.715725607)"
519,8169210,HT404326,07/18/2011 10:30:00 PM,023XX N MASON AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE PORCH/HALLWAY,True,False,...,45.0,12.0,17,1142286.0,1934118.0,2004,02/28/2018 03:56:25 PM,41.975280,-87.752144,"(41.975279956, -87.752144317)"

### Full Outer Inclusive Join

In [35]:
df8 = pd.merge(df1, df2, how = "outer")
df8

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,29.0,25.0,08B,1139135.0,1894124.0,2011,02/04/2016 06:33:39 AM,41.865590,-87.764707,"(41.865590065, -87.764706995)"
1,6620347,HP689703,11/18/2008 03:15:00 PM,081XX S LAFAYETTE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,21.0,44.0,14,1177357.0,1850979.0,2008,02/10/2018 03:50:01 PM,41.746416,-87.625697,"(41.746415805, -87.625696672)"
2,2415583,HH692211,10/04/2002 12:00:00 PM,007XX S KENNETH AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,...,24.0,26.0,26,1146814.0,1896113.0,2002,02/28/2018 03:56:25 PM,41.870905,-87.736466,"(41.87090509, -87.736465901)"
3,11057640,JA394755,08/15/2017 12:29:00 PM,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,32.0,24.0,11,1161955.0,1908307.0,2017,02/10/2018 03:50:01 PM,41.904064,-87.680537,"(41.904064096, -87.680537205)"
4,2862972,HJ527694,07/29/2003 09:25:00 PM,042XX N SACRAMENTO AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,33.0,16.0,14,1155622.0,1928028.0,2003,02/10/2018 03:50:01 PM,41.958310,-87.703268,"(41.958309892, -87.703267639)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,8321464,HT556032,10/23/2011 11:20:00 AM,029XX E 78TH ST,610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,7.0,43.0,5,1197014.0,1853942.0,2011,02/10/2018 03:50:01 PM,41.754080,-87.553572,"(41.754080317, -87.553571733)"
229,3661130,HK751265,11/15/2004 12:59:16 AM,084XX S ELIZABETH ST,530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,STREET,False,False,...,21.0,71.0,04A,1169464.0,1848751.0,2004,02/10/2018 03:50:01 PM,41.740476,-87.654683,"(41.740476349, -87.654682797)"
230,1959865,HH149573,01/26/2002 11:57:10 AM,016XX W 79 ST,610,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,...,NaN,NaN,5,1166792.0,1852325.0,2002,02/10/2018 03:50:01 PM,41.750341,-87.664371,"(41.750341323, -87.664370937)"
231,5322667,HN182437,02/17/2007 10:15:00 PM,091XX S COTTAGE GROVE AVE,560,ASSAULT,SIMPLE,SIDEWALK,False,True,...,8.0,44.0,08A,1183165.0,1844391.0,2007,02/28/2018 03:56:25 PM,41.728205,-87.604619,"(41.728204555, -87.604619408)"
232,9801245,HX448587,09/28/2014 11:00:00 PM,113XX S COTTAGE GROVE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,9.0,50.0,14,1181588.0,1829877.0,2014,02/10/2018 03:50:01 PM,41.688413,-87.610842,"(41.688412751, -87.610842301)"

### Left Inclusive Join

In [36]:
df9 = pd.merge(df1, df2, how = "left")
df9

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,8418606,HT651635,12/29/2011 12:50:00 PM,056XX W ROOSEVELT RD,486,BATTERY,DOMESTIC BATTERY SIMPLE,PARKING LOT/GARAGE(NON.RESID.),False,True,...,29.000,25.0,08B,1139135.0,1894124.0,2011,02/04/2016 06:33:39 AM,41.865590,-87.764707,"(41.865590065, -87.764706995)"
1,6620347,HP689703,11/18/2008 03:15:00 PM,081XX S LAFAYETTE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,21.000,44.0,14,1177357.0,1850979.0,2008,02/10/2018 03:50:01 PM,41.746416,-87.625697,"(41.746415805, -87.625696672)"
2,2415583,HH692211,10/04/2002 12:00:00 PM,007XX S KENNETH AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,...,24.000,26.0,26,1146814.0,1896113.0,2002,02/28/2018 03:56:25 PM,41.870905,-87.736466,"(41.87090509, -87.736465901)"
3,11057640,JA394755,08/15/2017 12:29:00 PM,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,32.000,24.0,11,1161955.0,1908307.0,2017,02/10/2018 03:50:01 PM,41.904064,-87.680537,"(41.904064096, -87.680537205)"
4,2862972,HJ527694,07/29/2003 09:25:00 PM,042XX N SACRAMENTO AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,33.000,16.0,14,1155622.0,1928028.0,2003,02/10/2018 03:50:01 PM,41.958310,-87.703268,"(41.958309892, -87.703267639)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,1340847,G040244,01/19/2001 06:39:03 PM,063XX N NAGLE AV,820,THEFT,$500 AND UNDER,GROCERY FOOD STORE,True,False,...,23.336,NaN,6,1132586.0,1941599.0,2001,08/17/2015 03:03:40 PM,41.995984,-87.787640,"(41.99598354, -87.787639887)"
129,3081572,HJ804627,12/07/2003 10:16:40 PM,002XX W ADAMS ST,1330,CRIMINAL TRESPASS,TO LAND,BANK,True,False,...,2.000,32.0,26,1174618.0,1899411.0,2003,02/28/2018 03:56:25 PM,41.879379,-87.634289,"(41.87937913, -87.634289354)"
130,5547866,HN355411,05/21/2007 09:49:42 AM,004XX N PINE AVE,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,28.000,25.0,18,1139465.0,1902293.0,2007,02/28/2018 03:56:25 PM,41.888001,-87.763296,"(41.888000869, -87.763296356)"
131,10003235,HY192694,03/21/2015 03:41:00 AM,064XX S OAKLEY AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,15.000,66.0,08B,1162182.0,1861826.0,2015,02/10/2018 03:50:01 PM,41.776511,-87.681000,"(41.776510546, -87.681000121)"
132,2584554,HH867007,12/30/2002 08:41:00 AM,040XX W IRVING PARK RD,499,BATTERY,AGGRAVATED DOMESTIC BATTERY,RESIDENCE,True,True,...,39.000,16.0,04B,1148845.0,1926278.0,2002,02/28/2018 03:56:25 PM,41.953642,-87.728228,"(41.953641789, -87.728227991)"

### Right Inclusive Join

In [37]:
df10 = pd.merge(df1, df2, how = "right")
df10

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,10840565,JA143710,02/06/2017 01:20:00 PM,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,37.0,23.0,26,1148881.0,1905963.0,2017,02/14/2017 03:49:42 PM,41.897895,-87.728622,"(41.89789489, -87.728622316)"
1,4044375,HL388623,05/30/2005 08:00:00 PM,008XX S SPRINGFIELD AVE,460,BATTERY,SIMPLE,SIDEWALK,False,False,...,24.0,26.0,08B,1150520.0,1895862.0,2005,02/10/2018 03:50:01 PM,41.870145,-87.722866,"(41.870144798, -87.7228663)"
2,3864164,HL239939,12/09/2004 10:22:00 AM,004XX N STATE ST,1206,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",STREET,True,False,...,42.0,8.0,11,1176302.0,1903096.0,2004,02/28/2018 03:56:25 PM,41.889453,-87.627995,"(41.889453169, -87.627994833)"
3,4110831,HL446401,06/26/2005 11:59:00 PM,042XX W 26TH ST,325,ROBBERY,VEHICULAR HIJACKING,STREET,False,False,...,22.0,30.0,3,1148444.0,1886380.0,2005,02/28/2018 03:56:25 PM,41.844165,-87.730732,"(41.844165269, -87.730732326)"
4,4606754,HM200888,02/25/2006 11:00:00 AM,069XX W HIGGINS AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,41.0,10.0,14,1129154.0,1935641.0,2006,02/28/2018 03:56:25 PM,41.979694,-87.800401,"(41.979693542, -87.800401259)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8321464,HT556032,10/23/2011 11:20:00 AM,029XX E 78TH ST,610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,7.0,43.0,5,1197014.0,1853942.0,2011,02/10/2018 03:50:01 PM,41.754080,-87.553572,"(41.754080317, -87.553571733)"
96,3661130,HK751265,11/15/2004 12:59:16 AM,084XX S ELIZABETH ST,530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,STREET,False,False,...,21.0,71.0,04A,1169464.0,1848751.0,2004,02/10/2018 03:50:01 PM,41.740476,-87.654683,"(41.740476349, -87.654682797)"
97,1959865,HH149573,01/26/2002 11:57:10 AM,016XX W 79 ST,610,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,...,NaN,NaN,5,1166792.0,1852325.0,2002,02/10/2018 03:50:01 PM,41.750341,-87.664371,"(41.750341323, -87.664370937)"
98,5322667,HN182437,02/17/2007 10:15:00 PM,091XX S COTTAGE GROVE AVE,560,ASSAULT,SIMPLE,SIDEWALK,False,True,...,8.0,44.0,08A,1183165.0,1844391.0,2007,02/28/2018 03:56:25 PM,41.728205,-87.604619,"(41.728204555, -87.604619408)"
99,9801245,HX448587,09/28/2014 11:00:00 PM,113XX S COTTAGE GROVE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,9.0,50.0,14,1181588.0,1829877.0,2014,02/10/2018 03:50:01 PM,41.688413,-87.610842,"(41.688412751, -87.610842301)"

## Task 6 : Grouping, Calculation of Aggregate and Binning

### Group by Multiple Columns

In [48]:
df1.groupby(["YEAR", "PRIMARY_TYPE"]).groups

{(2001, 'BATTERY'): Int64Index([172, 135], dtype='int64'),
 (2001, 'CRIMINAL DAMAGE'): Int64Index([237], dtype='int64'),
 (2001, 'PROSTITUTION'): Int64Index([485], dtype='int64'),
 (2001, 'THEFT'): Int64Index([90, 40, 58], dtype='int64'),
 (2002, 'ASSAULT'): Int64Index([345], dtype='int64'),
 (2002, 'BATTERY'): Int64Index([107, 165, 168], dtype='int64'),
 (2002, 'MOTOR VEHICLE THEFT'): Int64Index([423], dtype='int64'),
 (2002, 'OTHER OFFENSE'): Int64Index([334, 341], dtype='int64'),
 (2002, 'WEAPONS VIOLATION'): Int64Index([493], dtype='int64'),
 (2003, 'BATTERY'): Int64Index([173], dtype='int64'),
 (2003, 'BURGLARY'): Int64Index([392], dtype='int64'),
 (2003, 'CRIMINAL DAMAGE'): Int64Index([233, 250, 255], dtype='int64'),
 (2003, 'CRIMINAL TRESPASS'): Int64Index([480], dtype='int64'),
 (2003, 'NARCOTICS'): Int64Index([283, 258], dtype='int64'),
 (2003, 'ROBBERY'): Int64Index([461], dtype='int64'),
 (2003, 'THEFT'): Int64Index([78, 85], dtype='int64'),
 (2005, 'ASSAULT'): Int64Index([365, 363, 358], dtype='int64'),
 (2005, 'BATTERY'): Int64Index([133], dtype='int64'),
 (2005, 'BURGLARY'): Int64Index([400], dtype='int64'),
 (2005, 'CRIMINAL DAMAGE'): Int64Index([214], dtype='int64'),
 (2005, 'CRIMINAL TRESPASS'): Int64Index([469], dtype='int64'),
 (2005, 'INTERFERENCE WITH PUBLIC OFFICER'): Int64Index([511], dtype='int64'),
 (2005, 'NARCOTICS'): Int64Index([304, 261], dtype='int64'),
 (2006, 'BATTERY'): Int64Index([128, 189], dtype='int64'),
 (2006, 'BURGLARY'): Int64Index([376], dtype='int64'),
 (2006, 'CRIMINAL DAMAGE'): Int64Index([225], dtype='int64'),
 (2006, 'OFFENSE INVOLVING CHILDREN'): Int64Index([502], dtype='int64'),
 (2006, 'OTHER OFFENSE'): Int64Index([312], dtype='int64'),
 (2006, 'PROSTITUTION'): Int64Index([487], dtype='int64'),
 (2006, 'ROBBERY'): Int64Index([449], dtype='int64'),
 (2006, 'THEFT'): Int64Index([62], dtype='int64'),
 (2007, 'CRIMINAL DAMAGE'): Int64Index([232, 221], dtype='int64'),
 (2007, 'CRIMINAL TRESPASS'): Int64Index([474], dtype='int64'),
 (2007, 'DECEPTIVE PRACTICE'): Int64Index([429, 433], dtype='int64'),
 (2007, 'INTIMIDATION'): Int64Index([521], dtype='int64'),
 (2007,
  'NARCOTICS'): Int64Index([285, 267, 305, 307, 291, 274], dtype='int64'),
 (2007, 'OFFENSE INVOLVING CHILDREN'): Int64Index([500], dtype='int64'),
 (2007, 'OTHER OFFENSE'): Int64Index([323], dtype='int64'),
 (2008, 'CRIMINAL DAMAGE'): Int64Index([244], dtype='int64'),
 (2008, 'THEFT'): Int64Index([92], dtype='int64'),
 (2009, 'ASSAULT'): Int64Index([370], dtype='int64'),
 (2009, 'BATTERY'): Int64Index([192, 132, 197], dtype='int64'),
 (2009, 'BURGLARY'): Int64Index([374, 389], dtype='int64'),
 (2009, 'CRIMINAL DAMAGE'): Int64Index([245], dtype='int64'),
 (2009, 'DECEPTIVE PRACTICE'): Int64Index([430], dtype='int64'),
 (2009, 'MOTOR VEHICLE THEFT'): Int64Index([422], dtype='int64'),
 (2009, 'NARCOTICS'): Int64Index([286, 298], dtype='int64'),
 (2009, 'THEFT'): Int64Index([42, 66, 29], dtype='int64'),
 (2010, 'BATTERY'): Int64Index([146, 159], dtype='int64'),
 (2010, 'THEFT'): Int64Index([31, 5], dtype='int64'),
 (2011, 'BATTERY'): Int64Index([110, 119], dtype='int64'),
 (2011, 'BURGLARY'): Int64Index([396], dtype='int64'),
 (2011, 'CRIMINAL DAMAGE'): Int64Index([201], dtype='int64'),
 (2011, 'NARCOTICS'): Int64Index([292, 289], dtype='int64'),
 (2011, 'SEX OFFENSE'): Int64Index([509], dtype='int64'),
 (2011, 'THEFT'): Int64Index([11], dtype='int64'),
 (2012, 'ASSAULT'): Int64Index([361, 373], dtype='int64'),
 (2012, 'MOTOR VEHICLE THEFT'): Int64Index([409], dtype='int64'),
 (2012, 'PROSTITUTION'): Int64Index([488], dtype='int64'),
 (2012, 'ROBBERY'): Int64Index([458, 463], dtype='int64'),
 (2012, 'THEFT'): Int64Index([41, 65], dtype='int64'),
 (2013, 'ASSAULT'): Int64Index([362], dtype='int64'),
 (2013, 'BATTERY'): Int64Index([142, 187], dtype='int64'),
 (2013, 'BURGLARY'): Int64Index([379, 402], dtype='int64'),
 (2013, 'NARCOTICS'): Int64Index([277, 270, 273], dtype='int64'),
 (2013, 'OTHER OFFENSE'): Int64Index([339], dtype='int64'),
 (2013, 'STALKING'): Int64Index([522], dtype='int64'),
 (2014, 'ARSON'): Int64Index([516], dtype='int64'),
 (2014, 'ASSAULT'): Int64Index([368], dtype='int64'),
 (2014, 'BATTERY'): Int64Index([185], dtype='int64'),
 (2014, 'CRIMINAL DAMAGE'): Int64Index([218, 223], dtype='int64'),
 (2014, 'DECEPTIVE PRACTICE'): Int64Index([443], dtype='int64'),
 (2014, 'OTHER NARCOTIC VIOLATION'): Int64Index([527], dtype='int64'),
 (2014, 'THEFT'): Int64Index([47, 67, 17], dtype='int64'),
 (2015, 'BATTERY'): Int64Index([117, 179], dtype='int64'),
 (2015, 'DECEPTIVE PRACTICE'): Int64Index([440, 445], dtype='int64'),
 (2015, 'OTHER OFFENSE'): Int64Index([329], dtype='int64'),
 (2016, 'ASSAULT'): Int64Index([360], dtype='int64'),
 (2016, 'CRIMINAL DAMAGE'): Int64Index([246], dtype='int64'),
 (2016, 'HUMAN TRAFFICKING'): Int64Index([528], dtype='int64'),
 (2016, 'OTHER OFFENSE'): Int64Index([314], dtype='int64'),
 (2016, 'THEFT'): Int64Index([4, 102, 6], dtype='int64'),
 (2017, 'ASSAULT'): Int64Index([372], dtype='int64'),
 (2017, 'CRIMINAL DAMAGE'): Int64Index([242], dtype='int64'),
 (2017, 'DECEPTIVE PRACTICE'): Int64Index([439], dtype='int64'),
 (2017, 'HOMICIDE'): Int64Index([519], dtype='int64'),
 (2017, 'ROBBERY'): Int64Index([460], dtype='int64'),
 (2017, 'THEFT'): Int64Index([34], dtype='int64')}

### Calculate the Aggregate of a Group

In [49]:
df1.groupby(["YEAR","PRIMARY_TYPE"]).agg(np.mean)

                                   ID  ARREST  DOMESTIC         BEAT  \
YEAR PRIMARY_TYPE
2001 BATTERY             1.607302e+06     0.0       0.0  1532.500000
     CRIMINAL DAMAGE     1.414626e+06     0.0       0.0   811.000000
     PROSTITUTION        1.553689e+06     1.0       0.0  1125.000000
     THEFT               1.599733e+06     1.0       0.0   618.666667
2002 ASSAULT             2.492280e+06     0.0       0.0  2533.000000
...                               ...     ...       ...          ...
2017 CRIMINAL DAMAGE     1.118573e+07     1.0       0.0  2511.000000
     DECEPTIVE PRACTICE  1.105764e+07     0.0       0.0  1424.000000
     HOMICIDE            2.346900e+04     0.0       0.0   411.000000
     ROBBERY             1.083159e+07     0.0       0.0  1511.000000
     THEFT               1.095238e+07     0.0       0.0  1023.000000

                         DISTRICT    WARD  COMMUNITY_AREA_NUMBER  \
YEAR PRIMARY_TYPE
2001 BATTERY                 13.0  23.336                    NaN
     CRIMINAL DAMAGE          8.0  23.336                    NaN
     PROSTITUTION            11.0  23.336                    NaN
     THEFT                    6.0  23.336                    NaN
2002 ASSAULT                 25.0  37.000                   25.0
...                           ...     ...                    ...
2017 CRIMINAL DAMAGE         25.0  36.000                   18.0
     DECEPTIVE PRACTICE      14.0  32.000                   24.0
     HOMICIDE                 4.0   8.000                   45.0
     ROBBERY                 15.0  29.000                   25.0
     THEFT                   10.0  12.000                   30.0

                         X_COORDINATE  Y_COORDINATE   LATITUDE  LONGITUDE
YEAR PRIMARY_TYPE
2001 BATTERY             1.173814e+06     1888715.0  41.850046 -87.637561
     CRIMINAL DAMAGE     1.130022e+06     1866716.0  41.790539 -87.798788
     PROSTITUTION        1.158862e+06     1899877.0  41.880995 -87.692130
     THEFT               1.161801e+06     1914223.0  41.920277 -87.681002
2002 ASSAULT             1.142629e+06     1910170.0  41.909558 -87.751481
...                               ...           ...        ...        ...
2017 CRIMINAL DAMAGE     1.130206e+06     1920118.0  41.937079 -87.796890
     DECEPTIVE PRACTICE  1.161955e+06     1908307.0  41.904064 -87.680537
     HOMICIDE            1.188090e+06     1850923.0  41.746013 -87.586371
     ROBBERY             1.137854e+06     1905671.0  41.897300 -87.769131
     THEFT               1.157493e+06     1889929.0  41.853725 -87.697427

[88 rows x 11 columns]

### Binning Data

In [51]:
# gives us (rows, columns)
df.shape

(533, 22)

In [52]:
pd.qcut(df["YEAR"], q = 5).value_counts()

(2000.999, 2003.0]    115
(2013.6, 2018.0]      107
(2003.0, 2006.0]      107
(2009.0, 2013.6]      104
(2006.0, 2009.0]      100
Name: YEAR, dtype: int64

In [7]:
# The End